<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>User registration</title>
</head>

<section layout:fragment="conteudo">

	<form class="form-horizontal" method="post" th:action="@{/user}"
		th:object="${user}">

		<div class="alert alert-success alert-dismissible"
			th:if="${!#strings.isEmpty(mensagem)}" role="alert">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<span th:text="${mensagem}"></span>
		</div>

		<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
			<div th:each="item :${#fields.detailedErrors()}">
				<span th:text="${item.message}"></span>
			</div>
		</div>

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/user}">List</a></li>
				<li class="breadcrumb-item active" aria-current="page">User</li>
			</ol>
		</nav>

		<div class="panel panel-default">


			<div class="panel-body">

				<div class="form-group"
					th:classappend="${#fields.hasErrors('username')} ? 'has-error'">
					<label for="username" class="col-sm-2 control-label">Username</label>
					<div class="col-sm-4">
						<input id="username" th:field="*{username}" type="text"
							class="form-control" placeholder="Username" />
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
					<label for="password" class="col-sm-2 control-label">Password</label>
					<div class="col-sm-4">
						<input id="password" th:field="*{password}" type="password"
							class="form-control" placeholder="Password" />
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('passwordConfirm')} ? 'has-error'">
					<label for="passwordConfirm" class="col-sm-2 control-label">Confirm
						Password</label>
					<div class="col-sm-4">
						<input id="passwordConfirm" th:field="*{passwordConfirm}"
							type="password" class="form-control"
							placeholder="Confirm Password" />
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('roles')} ? 'has-error'">
					<label for="roles" class="col-sm-2 control-label">Role</label>
					<div class="col-sm-4">
						<select name="roles" class="form-control" th:field="*{roles}"
							multiple="multiple">
							<option th:each="item : ${listaRoles}" th:value="${item.id}"
								th:text="${item.name}"></option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>

			</div>

		</div>
	</form>
</section>
</html>