<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Registro de Sensores</title>
</head>

<section layout:fragment="conteudo">


	<form class="form-horizontal" method="post" th:action="@{/sensor}"
		th:object="${sensor}">

		<div class="alert alert-success alert-dismissible"
			th:if="${!#strings.isEmpty(mensagem)}" role="alert">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<span th:text="${mensagem}"></span>
		</div>

		<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
			<div th:each="item :${#fields.detailedErrors()}">
				<span th:text="${item.message}"></span>
			</div>
		</div>

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/sensor}">Lista de Sensores</a></li>
				<li class="breadcrumb-item active" aria-current="page">Registro de Sensores</li>
			</ol>
		</nav>

		<div class="panel panel-default">

			<div class="panel-body">

				<input type="hidden"  th:field="*{codigo}" />
				<div class="form-group"
					th:classappend="${#fields.hasErrors('codigo')} ? 'has-error'">
					<label for="codigo" class="col-sm-2 control-label">Código</label>
					<div class="col-sm-4">
						<div  th:field="*{codigo}"  ></div>
						<div th:text="${codigo}"></div>
					</div>
				</div>
				
				<div class="form-group"
					th:classappend="${#fields.hasErrors('nome')} ? 'has-error'">
					<label for="nome" class="col-sm-2 control-label">Nome</label>
					<div class="col-sm-4">
						<input id="nome" th:field="*{nome}" type="text"
							class="form-control" placeholder="Name" />
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('latitude')} ? 'has-error'">
					<label for="latitude" class="col-sm-2 control-label">Latitude</label>
					<div class="col-sm-4">
						<input id="latitude" th:field="*{latitude}" type="text"
							class="form-control" placeholder="Latitude" />
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('longitude')} ? 'has-error'">
					<label for="longitude" class="col-sm-2 control-label">Longitude</label>
					<div class="col-sm-4">
						<input id="longitude" th:field="*{longitude}" type="text"
							class="form-control" placeholder="Longitude" />
					</div>
				</div>


				<label for="metodo" class="col-sm-2 control-label">Método</label>
				<div class="col-sm-4">
					<select name="tipoMetodo" class="form-control" th:field="*{tipoMetodo}">
						<option value="">Selecione...</option>
						<option th:each="item : ${listaTipoMetodos}" th:value="${item.codigo}"
							th:text="${item.nome}"></option>
					</select>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>

			</div>


		</div>
	</form>

</section>
</html>