<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Registro de Plano Ação</title>
</head>

<section layout:fragment="conteudo">


	<form class="form-horizontal" method="post" th:action="@{/planoacao}"
		th:object="${planoAcao}">

		<div class="alert alert-success alert-dismissible"
			th:if="${!#strings.isEmpty(mensagem)}" role="alert">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<span th:text="${mensagem}"></span>
		</div>

		<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
			<div th:each="item :${#fields.detailedErrors()}">
				<span th:text="${item.message}"></span>
			</div>
		</div>

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/planoacao}">Lista de Plano Ação</a></li>
				<li class="breadcrumb-item active" aria-current="page">Registro de Plano Ação</li>
			</ol>
		</nav>

		<div class="panel panel-default">

			<div class="panel-body">

				<input type="hidden"  th:field="*{codigo}" />
				<div class="form-group"
					th:classappend="${#fields.hasErrors('codigo')} ? 'has-error'">
					<label for="codigo" class="col-sm-2 control-label">Código</label>
					<div class="col-sm-4">
						<div  th:field="*{codigo}"  ></div>
						<div th:text="${codigo}"></div>
					</div>
				</div>
				
				<div class="form-group" th:classappend="${#fields.hasErrors('codigoBarragem')} ? 'has-error'">
		   			<label for="barragem" class="col-sm-2 control-label">Barragem</label>
				 	<div class="col-sm-4">
					    <select name="codigoBarragemm" class="form-control" th:field="*{codigoBarragem}">
					    	<option th:each="item : ${listBarragens}" th:value="${item.codigo}"  th:text="${item.nome}" th:disabled="${item.dataInativacao != null}" ></option>
					    </select>
				 	</div>
				 </div>
				 
				<div class="form-group"
					th:classappend="${#fields.hasErrors('pessoas')} ? 'has-error'">
					<label for="pessoas" class="col-sm-2 control-label">Pessoas</label>
					<div class="col-sm-4">
						<select name="pessoas" class="form-control" th:field="*{pessoas}" multiple="multiple">
							<option th:each="item : ${listPessoas}" th:value="${item.codigo}"  th:text="${item.nomeCompleto}" th:disabled="${item.dataInativacao != null}" ></option>
						</select>
					</div>
				</div>
				
				<div class="form-group"
					th:classappend="${#fields.hasErrors('descricao')} ? 'has-error'">
					<label for="descricao" class="col-sm-2 control-label">Descrição</label>
					<div class="col-sm-4">
						<input id="descricao" th:field="*{descricao}" type="text"
							class="form-control" placeholder="descricao" />
					</div>
				</div>
				
				<div class="form-group"
					th:classappend="${#fields.hasErrors('mensagemAlerta')} ? 'has-error'">
					<label for="mensagemAlerta" class="col-sm-2 control-label">Mensagem de Alerta</label>
					<div class="col-sm-4">
						<input id="mensagemAlerta" th:field="*{mensagemAlerta}" type="text"
							class="form-control" placeholder="mensagemAlerta" />
					</div>
				</div>
				

				 
				<div class="form-group" th:classappend="${#fields.hasErrors('grauRisco')} ? 'has-error'">
					<label for="method" class="col-sm-2 control-label">Grau de Risco</label>
					<div class="col-sm-4">
						<select name="grauRisco" class="form-control" th:field="*{grauRisco}">
							<option value="">Selecione...</option>
							<option th:each="item : ${listaGrauRisco}" th:value="${item}" th:text="${item.descricao}"></option>
						</select>
					</div>
				</div>
				
				 

				<div class="form-group"
					th:classappend="${#fields.hasErrors('dataInativacao')} ? 'has-error'">
					<label for="dataInativacao" class="col-sm-2 control-label">Data de Inativaçao</label>
					<div class="col-sm-4">
						<input id="dataInativacao" th:field="*{dataInativacao}" pattern="dd/MM/yyyy" type="date"
							class="form-control" placeholder="Data de Inativaçao" />
					</div>
				</div>
				
				<div class="form-group"
					th:classappend="${#fields.hasErrors('dataInclusao')} ? 'has-error'">
					<label for="dataInclusao" class="col-sm-2 control-label">Data de Inclusão</label>
					<div class="col-sm-4">
						<input id="dataInclusao" th:field="*{dataInclusao}" pattern="dd/MM/yyyy" type="date"
							class="form-control" placeholder="Data de Inclusão" />
					</div>
				</div>
				  
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>

			</div>


		</div>
	</form>

</section>
</html>