<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sign in - SCA Admin Dashboard</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.css}">

<link rel="shortcut icon" th:href="@{/images/favicon.svg}"
	type="image/x-icon">
<link rel="stylesheet" th:href="@{/css/app.css}">

<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
</head>

<body>
	<div id="auth">

		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-12 mx-auto">
					<div class="card pt-4">
						<div class="card-body">
							<div class="text-center mb-5">
								
								<h3>Sign In</h3>
								<p>Please sign in to continue.</p>
							</div>
							<form name='f' th:action="@{/login}" class="form-signin" method='POST'>
								<div class="form-group ${error != null ? 'has-error' : ''}">
									<div class="alert alert-success alert-dismissible"
										th:if="${!#strings.isEmpty(message)}" role="alert">
										<button type="button" class="close" data-dismiss="alert"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										<span th:text="${message}"></span>
									</div>
									<div class="alert alert-danger" th:if="${!#strings.isEmpty(error)}">
										<span th:text="${error}"></span>
									</div>
					
									<div class="form-group position-relative has-icon-left">
										<label for="username">Username</label>
										<div class="position-relative">
											<input name="username" type="text" class="form-control" id="username" placeholder="Username" autofocus="autofocus">
											<div class="form-control-icon">
												<i data-feather="user"></i>
											</div>
										</div>
									</div>
									<div class="form-group position-relative has-icon-left">
										<div class="clearfix">
											<label for="password">Password</label> 
											<a href="#" class='float-right' data-toggle="modal"
												data-target="#forgotPasswordModalCenter">
												<small>Forgot password?</small>
											</a>
											
										</div>
										<div class="position-relative">
											<input name="password" type="password" class="form-control" id="password" placeholder="Password">
											<div class="form-control-icon">
												<i data-feather="lock"></i>
											</div>
										</div>
									</div>
						
									<div class='form-check clearfix my-4'>
										<div class="checkbox float-left">
											<input type="checkbox" id="checkbox1" class='form-check-input'>
											<label for="checkbox1">Remember me</label>
										</div>
									</div>
									<div class="clearfix">
										<button class="btn btn-primary float-right">Submit</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	
	<div class="modal fade" id="forgotPasswordModalCenter" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle"> Forgot the password?</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table>
						<thead>
							<tr>
								 <th>Login</th>
								 <th>Password</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>admin</td>
								<td>12345678</td>
							</tr>
							<tr>
								<td>consultor</td>
								<td>12345678</td>
							</tr>
							<tr>
								<td>engenheiro</td>
								<td>12345678</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<script th:src="@{/js/feather-icons/feather.min.js}"></script>
	<script th:src="@{/js/app.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</body>

</html>
