<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<div id="app">
		<div id="sidebar" class='active'>
			<div class="sidebar-wrapper active">

				<div class="sidebar-menu">
					<ul class="menu">


						<li class='sidebar-title'>Menu</li>



						<li
							th:class="${currentPage == 'home'} ? 'sidebar-item active' : 'sidebar-item'">
							<a href="/home" class='sidebar-link'> <i data-feather="home"
								width="20"></i> <span>Painel Principal</span>
						</a>
						</li>

						<li
							th:class="${currentPage == 'usuario'} ? 'sidebar-item active' : 'sidebar-item'"><a
							sec:authorize="hasAuthority('ADMINISTRATOR')" href="/usuario"
							class='sidebar-link'> <i data-feather="user" width="20"></i>
								<span>Usuários</span>
						</a></li>





						<li
							th:class="${currentPage == 'ativos' || currentPage == 'fabricante' || currentPage == 'tipoativo' || currentPage == 'manutencao'} ? 'sidebar-item has-sub active' : 'sidebar-item has-sub'">
							<a href="#" class='sidebar-link'> <i data-feather="triangle"
								width="20"></i> <span>Cadastro de Ativos</span>
						</a>

							<ul class="submenu "
								th:class="${currentPage == 'ativos' || currentPage == 'fabricante' || currentPage == 'tipoativo' || currentPage == 'manutencao'} ? 'submenu active' : 'submenu'">

								<li th:class="${currentPage == 'ativos'} ? 'active' : ''">
									<a href="/ativos" sec:authorize="hasAuthority('ADMINISTRATOR')">
										Ativos </a>
								</li>
								<li th:class="${currentPage == 'fabricante'} ? 'active' : ''">
									<a href="/fabricante"
									sec:authorize="hasAuthority('ADMINISTRATOR')"> Fabricantes
								</a>
								</li>
								<li th:class="${currentPage == 'tipoativo'} ? 'active' : ''">
									<a href="/tipoAtivo"
									sec:authorize="hasAuthority('ADMINISTRATOR')"> Tipo de
										Ativos </a>
								</li>
								<li th:class="${currentPage == 'manutencao'} ? 'active' : ''">
									<a href="/manutencao"
									sec:authorize="hasAuthority('ADMINISTRATOR')"><i data-feather="calendar" width="20"></i> Manutenções
								</a>
								</li>
							</ul>

						</li>
						<li
							th:class="${currentPage == 'barragem' || currentPage == 'inspecao' || currentPage == 'sensor' || currentPage ==  'leiturasensor' || currentPage ==  'tiposensor'} ? 'sidebar-item has-sub active' : 'sidebar-item has-sub'">
							<a href="#" class='sidebar-link'> 
							<img alt="" src="/images/dashboard.svg" width="24px"> <span>Monitoramento</span>
						</a>

							<ul class="submenu "
								th:class="${currentPage == 'barragem' || currentPage == 'inspecao' || currentPage == 'sensor'  || currentPage ==  'leiturasensor' || currentPage ==  'tiposensor'} ? 'submenu active' : 'submenu'">

								<li
									th:class="${currentPage == 'barragem'} ? ' active' : ''"><a
									sec:authorize="hasAuthority('ENGINEER')" href="/barragem"
									> <img alt="" src="/images/dam.png" width="24px"> Barragens
								</a></li>
								
								<li
									th:class="${currentPage == 'sensor'} ? 'active' : ''"><a
									sec:authorize="hasAuthority('ENGINEER')" href="/sensor"
									> <i data-feather="thermometer" width="20"></i> Sensores 
								</a></li>
								
								<li
									th:class="${currentPage == 'tiposensor'} ? 'active' : ''"><a
									sec:authorize="hasAuthority('ENGINEER')" href="/sensor/tiposensor"
									> <i data-feather="thermometer" width="20"></i> Tipo Sensor
								</a></li>

								<li
									th:class="${currentPage == 'inspecao'} ? 'active' : ''"><a
									sec:authorize="hasAuthority('CONSULTANT')" href="/inspecao"
									> <i data-feather="search" width="20"></i> Inspeção
								</a></li>
							</ul>

						</li>
						
						
						<li
							th:class="${currentPage == 'acao' || currentPage == 'comunicacao' || currentPage == 'pessoa' || currentPage ==  'planoacao'} ? 'sidebar-item has-sub active' : 'sidebar-item has-sub'">
							<a href="#" class='sidebar-link'> 
							
							
								<i data-feather="shield"
								width="20"></i> <span>Segurança/Comunicação</span>
							</a>

							<ul class="submenu "
								th:class="${currentPage == 'acao' || currentPage == 'comunicacao' || currentPage == 'pessoa'  || currentPage ==  'planoacao'} ? 'submenu active' : 'submenu'">

								<li
									th:class="${currentPage == 'acao'} ? ' active' : ''"><a
									sec:authorize="hasAuthority('ENGINEER')" href="/acao"
									> <img alt="" src="/images/dam.png" width="24px"> Ação
								</a></li>
								
								<li
									th:class="${currentPage == 'comunicacao'} ? 'active' : ''"><a
									sec:authorize="hasAuthority('ENGINEER')" href="/comunicacao"
									> <i data-feather="thermometer" width="20"></i> Comunicação 
								</a></li>

								<li
									th:class="${currentPage == 'pessoa'} ? 'active' : ''"><a
									sec:authorize="hasAuthority('CONSULTANT')" href="/pessoa"
									> <i data-feather="search" width="20"></i> Pessoa
								</a></li>
								
								<li
									th:class="${currentPage == 'planoacao'} ? 'active' : ''"><a
									sec:authorize="hasAuthority('CONSULTANT')" href="/planoacao"
									> <i data-feather="search" width="20"></i> Plano Ação
								</a></li>
							</ul>

						</li>


						<li th:if="${#request.userPrincipal}" class="sidebar-item ">
							<a href="javascript: document.logoutForm.submit()"
							class='sidebar-link'> <i data-feather="log-out" width="20"></i>
								<span>Sair</span>
						</a>
						</li>



					</ul>
					<form name="logoutForm" th:action="@{/logout}" method="post"
						th:hidden="true">
						<input hidden type="submit" value="Sign Out" />
					</form>
				</div>
				<button class="sidebar-toggler btn x">
					<i data-feather="x"></i>
				</button>
			</div>
		</div>

	</div>

</body>
</html>
