<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Home</title>
</head>

<section layout:fragment="conteudo">

<script th:inline="javascript">
window.onload = function() {
/*<![CDATA[*/

    var pontos = /*[[${sensores}]]*/ 'default';
    
    pontos.forEach(myFunction);
    function myFunction(value, index, array) {
    	console.log(value); 
    }    
    
    var chart = new CanvasJS.Chart("chartContainer", {
    	animationEnabled: true,
    	theme: "light2",
    	title:{
    		text: "Line Sample"
    	},
    	axisY:{
    		includeZero: false
    	},
    	data: [{        
    		type: "line",       
    		dataPoints: []
    	}]
    });
    chart.render();			

    /*<![CDATA[*/
    	/* Update dataPoints from AJAX and render the chart*/	
    		chart.options.data[0].dataPoints = pontos;	
    		chart.render();		
    /*]]>*/
    	
}	
</script> 

	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	

	<div class="alert alert-success alert-dismissible"
		th:if="${!#strings.isEmpty(mensagem)}" role="alert">
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<span th:text="${mensagem}"></span>
	</div>

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page">Home</li>
		</ol>
	</nav>

	<div class="panel panel-default">
		<div class="panel-heading">

			<div class="clearfix">
				<div class="form-group">

					<div class="row">
						<div class="col-sm-4">
							<form method="GET" class="form-horizontal" th:object="${filter}">
								<select name="id" class="form-control" th:field="*{id}"
									onchange="this.form.submit()">
									<option th:each="item : ${listBarragens}"
										th:value="${item.codigo}"
										th:disabled="${item.dataInativacao != null}"
										th:text="${item.dataInativacao == null?item.nome:item.nome+'(Inativo)'}"></option>
								</select>
							</form>
						</div>
					</div>
					<br>
					<div class="panel-body">
						<div class="row">
							<div class="row row-cols-1 row-cols-md-3">
								<div class="col mb-4">
									<div class="card">

										<div class="card-body">
											<h5 class="card-title">Última Inspeção</h5>
											<p th:text="${ultimainspecao?.descricao}" class="card-text"></p>
											<p th:text="${ultimainspecao?.categoriaRisco.nome}"
												class="card-text"></p>
											<p th:text="${ultimainspecao?.danoPotencial.nome}"
												class="card-text"></p>
											<p th:text="${ultimainspecao?.descricao}" class="card-text"></p>
											<p th:text="${ultimainspecao?.altura}" class="card-text"></p>
											<p th:text="${ultimainspecao?.volume}" class="card-text"></p>
											<p th:text="${ultimainspecao?.dataInclusao}"
												class="card-text"></p>
											<a class="btn btn-success titulo-link"
												th:href="@{/inspecao/new}">Inspecionar</a>
										</div>
									</div>
								</div>

								<div class="col mb-4">
									<div class="card">

										<div class="card-body">
											<h5 class="card-title">Última Evacuação</h5>
											<p th:text="${ultimainspecao?.descricao}" class="card-text"></p>
											<p th:text="${ultimainspecao?.categoriaRisco.nome}"
												class="card-text"></p>
											<p th:text="${ultimainspecao?.danoPotencial.nome}"
												class="card-text"></p>
											<p th:text="${ultimainspecao?.descricao}" class="card-text"></p>
											<p th:text="${ultimainspecao?.altura}" class="card-text"></p>
											<p th:text="${ultimainspecao?.volume}" class="card-text"></p>
											<p th:text="${ultimainspecao?.dataInclusao}"
												class="card-text"></p>
	
											<a class="btn btn-danger titulo-right" data-toggle="modal"
												th:attr="data-id=1, data-loc=@{/evacuation/}, data-description=Barragem_01"
												data-target="#modalPanico">Evacuação</a>
										</div>

									</div>
								</div>

							</div>
						</div>

					</div>

					<div class="panel-body">

						<div class="row row-cols-1 row-cols-md-3">

							<div th:each="item :${sensores}" class="col mb-4">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title"></h5>
										<p th:text="${item.ativo?.nome}" class="card-text"></p>
										<p th:text="${item.tipoSensor.nome}" class="card-text"></p>
										<p th:text="${item.tipoSensor.maxLeitura}" class="card-text"></p>
										<p th:text="${item.tipoSensor.minLeitura}" class="card-text"></p>
										<div th:each="leitura :${item.leituras}" class="col mb-4">
											<p th:text="${leitura.leitura}" class="card-text"></p>
										</div>

									</div>
								</div>
							</div>
						</div>

					</div>
					
					<div class="panel-body">

						<div class="row row-cols-1 row-cols-md-3">
							<div id="chartContainer" style="height: 370px; width: 100%;"></div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

	<div layout:insert="modal"></div>
</section>
</html>
