<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Home</title>

	<script th:src="@{/js/jquery-1.9.1.min.js}"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>


	<script type="text/javascript">
		google.load('visualization', '1.0', {'packages':['corechart']});
		
		
		setInterval(function(){google.setOnLoadCallback(drawChart)},5000);
		
		function drawChart() {
			$('.chart_draw').each(function(){
				var index = $(this).attr('data-index');
				var id = $(this).attr('data-id');
				var nome = $(this).attr('data-nome');
				var rangeMin = $(this).attr('data-min');
				var rangeMax = $(this).attr('data-max');
				var element = document.getElementsByClassName('chart_draw')[index];

   	            $.ajax({
   	                 type: "GET",
   	                 dataType: "json",
   	                 url: '/rest/api/'+id+'/leiturasensor',
   	                 success: function(jsondata) {
   	                	 
   	                	var data = new google.visualization.DataTable();
   	                	jsondata.forEach(function (row, index) {
   	                	   if (index === 0) {
   	                	     data.addColumn('date', toDate(row.dataInclusao));
   	                	     data.addColumn('number', row.leitura);
   	                	  data.addColumn('number', parseInt(rangeMax)+' Máximo');
   	                	     data.addColumn('number', parseInt(rangeMin)+' Mínimo');
   	                	     
   	                	   } else {
   	                	     data.addRow([ 
   	                	    	 toDate(row.dataInclusao), 
   	                	    	 row.leitura, 
   	                	    	 parseInt(rangeMax), 
   	                	    	 parseInt(rangeMin)
   	                	     ]);
   	                	   }
   	                	});

   	                    var options = {
   	                            title: nome,
	   	                         trendlines: {
	   	                          0: {type: 'exponential', color: '#333', opacity: 1},
	   	                          1: {type: 'linear', color: '#111', opacity: .3}
	   	                        },
	   	                        
   	                            vAxis: {
   	                            	title: 'Leitura',
   	                            	titleTextStyle: {italic: false}
	   	                        },
   	                            hAxis: {title: 'Data', titleTextStyle: {italic: false}},
   	                    };

   	                    var chart = new google.visualization.LineChart(element);
   	                    chart.draw(data, options);
   	                 }
   	            });
			});
		}	    
	</script>
</head>

<section layout:fragment="conteudo">

	<div class="alert alert-success alert-dismissible"
		th:if="${!#strings.isEmpty(mensagem)}" role="alert">
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<span th:text="${mensagem}"></span>
	</div>

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page">Home</li>
		</ol>
	</nav>

	<div class="panel panel-default">
		<div class="panel-heading">

			<div class="clearfix">
				<div class="form-group">

					<div class="row">
						<div class="col-sm-4">
							<form method="GET" class="form-horizontal" th:object="${filter}">
								<select name="id" class="form-control" th:field="*{id}"
									onchange="this.form.submit()">
									<option th:each="item : ${listBarragens}"
										th:value="${item.codigo}"
										th:disabled="${item.dataInativacao != null && item.dataInativacao != ''}"
										th:text="${item.dataInativacao == null?item.nome:item.nome+'(Inativo)'}"></option>
								</select>
							</form>
						</div>
					</div>
					<br>
					<div class="panel-body">
						<div class="row">
							<div class="row row-cols-1 row-cols-md-3">
								
								<div class="col mb-4">
									<div class="card">
										<div class="card-body">
											<h5 class="card-title">Localização</h5>
											<p class="card-text">
												<img alt="" th:src="@{https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x440&maptype=roadmap&markers=color:red%7Clabel:C%7C{latitude},{longitude}&key=AIzaSyD_doTLeS7IUoepmgeRdg72sMdvj1UzUn0(latitude=${barragem.latitude},longitude=${barragem.longitude})}"  width="100%">
											</p>
										</div>
									</div>
								</div>
								
							
								<div class="col mb-4">
									<div class="card">
										
										<div class="card-body">
										    <h5 class="card-title">Última Inspeção</h5>
										    <p class="card-text"><span th:text="${ultimainspecao?.descricao}" class="card-text"></span></p>
										</div>
										<ul class="list-group list-group-flush">
											
											<li class="list-group-item">Categoria de Risco:<span th:text="${ultimainspecao?.categoriaRisco.nome}" class="card-text"></span></li>
											
											<li class="list-group-item">Dano Potencial:<span th:text="${ultimainspecao?.danoPotencial.nome}" class="card-text"></span></li>
											<li class="list-group-item">Altura:<span th:text="${ultimainspecao?.altura}" class="card-text"></span></li>
											<li class="list-group-item">Volume total: <span th:text="${ultimainspecao?.volume}" class="card-text"></span></li>
											<li class="list-group-item">Data da última Inspeção: <span th:text="${#dates.format(ultimainspecao?.dataInclusao, 'dd/MM/yyyy HH:mm:ss')}" class="card-text"></span></li>
										

										</ul>
										<div class="card-body">
											<a class="btn btn-success titulo-link" href="/inspecao/new/">Inspecionar</a>
											<a class="btn btn-danger titulo-right"  th:href="@{/evacuacao/{codigo}(codigo=${barragem.codigo})}">Evacuar</a>
											<!-- <a class="btn btn-danger titulo-right" data-toggle="modal" th:attr="data-id=${barragem.codigo}, data-loc=@{/evacuacao/}, data-description=${barragem.ativo?.nome}"	data-target="#modalPanico">Evacuação</a> -->
										</div>
									</div>
								</div>

								<div class="col mb-4">
									<div class="card">
										<div class="card-body">
										    <h5 class="card-title">Última Evacuação</h5>
										    <p class="card-text"><span th:text="${ultimaEvacuacao?.planoAcao.descricao}" class="card-text"></span></p>
										</div>
										<ul class="list-group list-group-flush">
											<li class="list-group-item">Grau: <span th:text="${ultimaEvacuacao?.planoAcao.grauRisco}" class="card-text"></span></li>
											<li class="list-group-item">Mensagem de Alerta: <span th:text="${ultimaEvacuacao?.planoAcao.mensagemAlerta}" class="card-text"></span></li>
											<li class="list-group-item">Data de Evacuação: <span th:text="${#dates.format(ultimaEvacuacao?.dataInclusao, 'dd/MM/yyyy HH:mm:ss')}" class="card-text"></span></li>
										</ul>

									</div>
								</div>

							</div>
	
						</div>

					</div>

					<div class="panel-body">

						<div class="row">

							<div th:each="item :${sensores}" class="col-sm-6">
								<div class="card">

									<div class="card-body">
										<h5 class="card-title"><span th:text="${item.ativo?.nome}" class="card-text"></span> - <span th:text="${item.tipoSensor.nome}" class="card-text"></span></h5>
										<div class="chart_draw" th:attr="data-id=${item.codigo}, data-nome=${item.ativo?.nome}, data-min=${item.tipoSensor.minLeitura}, data-max=${item.tipoSensor.maxLeitura}, data-index=${itemStat.index}"></div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="panel-body">

						<div class="row row-cols-1 row-cols-md-3"></div>

					</div>

				</div>
			</div>
		</div>
	</div>

	<div layout:insert="modal"></div>
</section>

</html>
