<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head layout:fragment="head(title, links, scripts)">
	<link rel="shortcut icon" th:href="@{/images/favicon.svg}" type="image/x-icon">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/r-2.2.6/rr-1.2.7/sc-2.0.3/sb-1.0.0/sp-1.2.0/datatables.min.css"/>
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">


	<link rel="stylesheet"
		th:href="@{/vendors/perfect-scrollbar/perfect-scrollbar.css}">
	<link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>

	<header layout:insert="header"></header>

	<div id="main">
		<nav class="navbar navbar-header navbar-expand navbar-light">
			<a class="sidebar-toggler" href="#"><span
				class="navbar-toggler-icon"></span></a>
			<button class="btn navbar-toggler" type="button"
				data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul
					class="navbar-nav d-flex align-items-center navbar-light ml-auto">
					<li class="dropdown nav-icon"><a href="#"
						data-toggle="dropdown"
						class="nav-link  dropdown-toggle nav-link-lg nav-link-user">
							<div class="d-lg-inline-block">
								<i data-feather="bell"></i>
							</div>
					</a></li>
					<li class="dropdown nav-icon mr-2"><a href="#"
						data-toggle="dropdown"
						class="nav-link  dropdown-toggle nav-link-lg nav-link-user">
							<div class="d-lg-inline-block">
								<i data-feather="mail"></i>
							</div>
					</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#"><i data-feather="user"></i>
								Account</a> <a class="dropdown-item active" href="#"><i
								data-feather="mail"></i> Messages</a> <a class="dropdown-item"
								href="#"><i data-feather="settings"></i> Settings</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#"><i data-feather="log-out"></i>
								Logout</a>
						</div></li>

				</ul>
			</div>
		</nav>

		<div class="main-content container-fluid">
			<section class="section">
				<section layout:fragment="conteudo">
					<p>Main</p>
				</section>
			</section>
		</div>

	</div>

	<script th:src="@{/js/bootstrap.js}"></script>
	<script th:src="@{/js/jquery-1.9.1.min.js}"></script>
	<script th:src="@{/js/feather-icons/feather.min.js}"></script>

	<script th:src="@{/js/app.js}"></script>

	<script th:src="@{/js/pages/modal.js}"></script>
	<script th:src="@{/js/pages/jquery.maskMoney.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/r-2.2.6/rr-1.2.7/sc-2.0.3/sb-1.0.0/sp-1.2.0/datatables.min.js"></script>

	<script type="text/javascript">
		$(document).ready( function () {
			$('table').dataTable( {
		        "language": {
		            "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Portuguese-Brasil.json"
		        }
		    } );
		} );
	    function toDate(x) {
	    	var partes = x.split(" ");

	    	var horario = partes[1];

	    	var partesData = partes[0].split("/");

	    	var x = partesData[1]+"/"+partesData[0]+"/"+partesData[2];

	    	hoje = new Date(x)
	    	dia = hoje.getDate()
	    	dias = hoje.getDay()
	    	mes = hoje.getMonth()
	    	ano = hoje.getYear()
	    	if (dia < 10)
	    	dia = "0" + dia
	    	if (ano < 1000)
	    	ano+=1900
	    	function CriaArray (n) {
	    	this.length = n }

	    	NomeDia = new CriaArray(7)
	    	NomeDia[0] = "Sun"
	    	NomeDia[1] = "Mon"
	    	NomeDia[2] = "Tues"
	    	NomeDia[3] = "Wed"
	    	NomeDia[4] = "Thurs"
	    	NomeDia[5] = "Fri"
	    	NomeDia[6] = "Sat"

	    	NomeMes = new CriaArray(12)
	    	NomeMes[0] = "Jan"
	    	NomeMes[1] = "Feb"
	    	NomeMes[2] = "Mar"
	    	NomeMes[3] = "Apr"
	    	NomeMes[4] = "May"
	    	NomeMes[5] = "Jun"
	    	NomeMes[6] = "Jul"
	    	NomeMes[7] = "Aug"
	    	NomeMes[8] = "Sep"
	    	NomeMes[9] = "Oct"
	    	NomeMes[10] = "Nov"
	    	NomeMes[11] = "Dec"

	    	return new Date(NomeDia[dias] +" " + NomeMes[mes] + " " + dia + " " + ano + " " + horario);
	    }
	</script>
	
	<footer layout:fragment="custom-footer">
	
	</footer>
</body>
</html>