<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <form th:action="@{/barragem/}" method="POST">
		  <input type="hidden" name="_method" value="DELETE"/>
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Excluir</h4>
	      </div>
	      <div class="modal-body">
	        <span>Tem certeza de que deseja excluir este item?</span>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	        <button type="submit" class="btn btn-primary">Excluir</button>
	      </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="modalPanico" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <form th:action="@{/evacuation/}" method="POST">
		  <input type="hidden" name="user" th:value="${#request.userPrincipal.name}"/>
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h2 class="modal-title">Procedimento de Evacuação</h2>
	      </div>
	      <div class="modal-body">
	        <h4>Tem certeza de que deseja iniciar o procedimento de evacuação para a barragem?</h4>
	        <p></p>
	        <p>*Serão alertados todos os moradores do entorno, a Defesa Civil e órgãos responsáveis</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	        <button type="submit" class="btn btn-primary">Evacuar</button>
	      </div>
      </form>
    </div>
  </div>
</div>

</html>