<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Ativos</title>

</head>

<section layout:fragment="conteudo">

	<div class="alert alert-success alert-dismissible"
		th:if="${!#strings.isEmpty(mensagem)}" role="alert">
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<span th:text="${mensagem}"></span>
	</div>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active"><a href="#">Lista de Ativos</a></li>
		</ol>
	</nav>
	<div class="panel panel-default">

		<div class="panel-body">

			<div class="table-responsive">

				<table class="table table-bordered table-striped" id="datatabledefault">
					<thead>
						<tr>
							<th class="text-center col-md-1">#</th>
							<th>Nome</th>
							<th class="text-center col-md-2">Descrição</th>
							<th class="text-center col-md-2">Fabricante</th>
							<th class="text-center col-md-2">Tipo Ativo</th>
							<th class="text-center col-md-2">Data Inclusão</th>
							<th class="text-center col-md-2">Data Inativação</th>
							<th class="col-md-1"></th>
							<th class="col-md-1"></th>
							<th class="col-md-1">Manutenção</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item:${ativos}">
							<td class="text-center" th:text="${item.codigo}">1</td>
							<td th:text="${item.nome}">1</td>
							<td class="text-center" th:text="${item.descricao}">1</td>
							<td class="text-center" th:text="${item.fabricante?.dataInativacao == null ?item.fabricante?.nome:item.fabricante?.nome+' (Inativado)'}">1</td>
							<td class="text-center" th:text="${item.tipoAtivo?.dataInativacao == null ?item.tipoAtivo?.nome:item.tipoAtivo?.nome+' (Inativado)'}">1</td>
							<td class="text-center"  th:text="${#dates.format(item.dataInclusao, 'dd/MM/yyyy HH:mm:ss')}">1</td>
							<td class="text-center"  th:text="${#dates.format(item.dataInativacao, 'dd/MM/yyyy HH:mm:ss')}">1</td>

							<td class="text-center">
								<a 
									th:href="@{/ativos/{id}(id=${item.codigo})}" title="Alterar"
									rel="tooltip" data-toggle="tooltip" data-placement="top"> <i data-feather="edit" width="20"></i>
								</a>
							</td>
							
							<td class="text-center">
								<a 
									data-toggle="modal"
									th:attr="data-id=${item.codigo}, data-loc=@{/ativos/}, data-description=${item.nome}"
									title="Deletar" rel="tooltip" data-placement="top"
									data-target="#modalDelete"> <i data-feather="trash" width="20"></i> 
								</a>
							</td>
							<td class="text-center">
								<a 
								th:href="@{/manutencao/{id}(id=${item.codigo})}" title="Manutenções"
								rel="tooltip" data-toggle="tooltip" data-placement="top"> <i data-feather="calendar" width="20"></i>
							</a>
							</td>

						</tr>
						<tr th:if="${#lists.isEmpty(ativos)}">
							<td colspan="10">Ativos não encontrados</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel-heading">
				<div class="clearfix">
					<a class="btn btn-link titulo-link" th:href="@{/ativos/new}">Novo</a>
				</div>
			</div>
		</div>

		<div layout:insert="modal"></div>
	</div>
</section>


</html>