<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Lista de Barragem</title>
</head>

<section layout:fragment="conteudo">

	<div class="alert alert-success alert-dismissible"
		th:if="${!#strings.isEmpty(mensagem)}" role="alert">
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<span th:text="${mensagem}"></span>
	</div>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active"><a href="#">Lista de Barragem</a></li>
		</ol>
	</nav>
	<div class="panel panel-default">

		<div class="panel-body">

			<div class="table-responsive">

				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center col-md-1">#</th>
							<th>Descrição</th>
							<th>Ativo</th>
							<th class="text-center col-md-2">Localização</th>
							<th class="text-center col-md-2">Método</th>
							<th>Data Inclusão </th>
							<th>Data Inativação </th>
							<th class="col-md-1"></th>
							<th class="col-md-1"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item:${barragens}">
						
							
							<td class="text-center" th:text="${item.codigo}">1</td>
							<td class="text-center" th:text="${item.ativo.nome}">1</td>
							<td th:text="${item.nome}">1</td>

							<td class="text-center"><a  target="_blank"
								th:href="@{https://www.google.com/maps/search/?api=1&query={lat},{long}(lat=${item.latitude},long=${item.longitude})}" title="Mapa"
								rel="tooltip" data-toggle="tooltip" data-placement="top"> <i data-feather="map" width="20"></i>
							</a></td>
							
								
							<td class="text-center" th:text="${item.tipoMetodo!=null?item.tipoMetodo.nome:''}">1</td>
							
							<td class="text-center"  th:text="${#dates.format(item.dataInclusao, 'dd/MM/yyyy')}">1</td>
							<td class="text-center"  th:text="${#dates.format(item.dataInativacao, 'dd/MM/yyyy')}">1</td>
							
							<td class="text-center"><a 
								th:href="@{/barragem/{id}(id=${item.codigo})}" title="Alterar"
								rel="tooltip" data-toggle="tooltip" data-placement="top"> <i data-feather="edit" width="20"></i>
							</a></td>
							
							<td class="text-center"><a 
								data-toggle="modal"
								th:attr="data-id=${item.codigo}, data-loc=@{/barragem/}, data-description=${item.nome}"
								title="Excluir" rel="tooltip" data-placement="top"
								data-target="#modalDelete"> <i data-feather="trash" width="20"></i>  
							</a></td>


						</tr>
						<tr th:if="${#lists.isEmpty(barragens)}">
							<td colspan="9">Barragens não encontradas</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel-heading">
				<div class="clearfix">
					<a class="btn btn-link titulo-link" th:href="@{/barragem/new}">Nova Barragem</a>
				</div>
			</div> 
		</div>

		<div layout:insert="modal"></div>
	</div>
</section>
</html>