<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Registro de Tipo de Sensor</title>
</head>

<section layout:fragment="conteudo">


	<form class="form-horizontal" method="post"
		th:action="@{/sensor/tiposensor}" th:object="${tipoSensor}">

		<div class="alert alert-success alert-dismissible"
			th:if="${!#strings.isEmpty(mensagem)}" role="alert">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<span th:text="${mensagem}"></span>
		</div>

		<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
			<div th:each="item :${#fields.detailedErrors()}">
				<span th:text="${item.message}"></span>
			</div>
		</div>

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/sensor/tiposensor/}">Lista
						de Tipo de Sensor</a></li>
				<li class="breadcrumb-item active" aria-current="page">Registro
					de Tipo de Sensor</li>
			</ol>
		</nav>

		<div class="panel panel-default">

			<div class="panel-body">

				<input type="hidden" th:field="*{codigo}" />
				<div class="form-group"
					th:classappend="${#fields.hasErrors('codigo')} ? 'has-error'">
					<label for="codigo" class="col-sm-2 control-label">Código</label>
					<div class="col-sm-4">
						<div th:field="*{codigo}"></div>
						<div th:text="${codigo}"></div>
					</div>
				</div>
				
				<div class="form-group"
					th:classappend="${#fields.hasErrors('nome')} ? 'has-error'">
					<label for="nome" class="col-sm-2 control-label">Nome</label>
					<div class="col-sm-4">
						<input id="nome" th:field="*{nome}" type="text"
							class="form-control" placeholder="Nome" />
					</div>
				</div>
				
				<div class="form-group"
					th:classappend="${#fields.hasErrors('maxLeitura')} ? 'has-error'">
					<label for="maxLeitura" class="col-sm-2 control-label">max Leitura</label>
					<div class="col-sm-4">
						<input id="maxLeitura" th:field="*{maxLeitura}" type="text"
							class="form-control" placeholder="maxLeitura" />
					</div>
				</div>
				
				<div class="form-group"
					th:classappend="${#fields.hasErrors('minLeitura')} ? 'has-error'">
					<label for="minLeitura" class="col-sm-2 control-label">min Leitura</label>
					<div class="col-sm-4">
						<input id="minLeitura" th:field="*{minLeitura}" type="text"
							class="form-control" placeholder="minLeitura" />
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('dataInativacao')} ? 'has-error'">
					<label for="dataInativacao" class="col-sm-2 control-label">Data de Inativaçao</label>
					<div class="col-sm-4">
						<input id="dataInativacao" th:field="*{dataInativacao}" pattern="dd/MM/yyyy HH:mm:ss" type="datetime-local"
							class="form-control" placeholder="Data de Inativaçao" />
					</div>
				</div>
				

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>

			</div>


		</div>
	</form>

</section>
</html>